* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #343a40;
  font-size: 24px;
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
}

nav {
  background-color: #343a40;
  color: #fff;
}

menu {
  background-color: #7048e8;
  color: #fff;
}

section {
  background-color: #e9ecef;
}

aside {
  background-color: #e9ecef;
}
