* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
  color: #343a40;
}

table {
  width: 900px;
  margin: 100px auto;
  /* border: 1px solid #343a40;*/
  border-collapse: collapse;
  font-size: 18px;
}

th,
td {
  /* border: 1px solid #343a40; */
  text-align: left;
}

th,
td {
  padding: 16px 24px;
}

thead th {
  background-color: #087f5b;
  color: #e6fcf5;
  width: 25%;
}

tbody tr td:first-child {
  font-weight: 700;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tr:nth-child(even) {
  background-color: #e9ecef;
}
